@import '../node_modules/h8k-design/dist/index.css';

/* ------
/* root styles */

:root {
  --brand-color: rgba(0, 152, 162, 1);
  --brand-color-dark: rgba(0, 112, 122, 1);
  --brand-box-shadow: rgba(0, 80, 90, 0.4);
  --brand-box-shadow-hover: rgba(0, 20, 30, 0.3);
  --brand-disabled: rgba(0, 220, 230, 0.2);
}
#root {
  overflow: auto;
  padding: 1rem;
}
* {
  box-sizing: border-box;
}

/* ------
/* general style overrides */

input {
  height: 30px;
  border-radius: 4px;
  padding: 1rem;
}

input:focus {
  border: 1px solid var(--brand-color);
}

button {
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

button.x-small {
  font-size: 0.72rem;
}

.card {
  border-radius: 4px;
  width: fit-content;
}

table thead tr th {
  letter-spacing: 0.08em;
  font-size: 0.72rem;
  text-transform: uppercase;
}

table tbody tr td:nth-child(3) div {
  transition: linear 0.3s;
  width: fit-content;
}

table tbody tr td:nth-child(3) div:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--brand-color);
}
.fa-pen {
  margin-left: 7px;
  font-size: 0.75rem;
  color: var(--brand-color);
}
/* ------
/* nav styles */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--brand-color-dark);
  text-align: center;
}

nav h1 {
  font-size: 1rem;
  color: #fff;
}
